.nav-recepcionista{
    display: flex;
    align-items: center;
    background-color: #0073e6;
    justify-content: space-around;
    width: 100%;
}

.ul-recepcionista{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.li-recepcionista{
    display: flex;
    color: white;
}

.a-recepcionista{
    color: white;
    text-decoration: none;
    background: blue;
    padding: .5em;
    border-radius: 10px;
    transition: all .5s ease;
}

.a-recepcionista:hover{
    background-color: rgb(14, 13, 82);
}

.a-recepcionista.active{
    background-color: rgb(14, 13, 82);  
}


.detalle-pedido {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
    padding: 0.6em 1.5em;
   }
   
   .detalle-pedido:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

   .div-container-btn-details{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    padding-left: .5em;
   }