

.mini-header{
    display: flex;
    align-items: center;
    justify-content: start ;
    padding: 1em;
}

.mini-header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(171, 255, 228) 0%, rgb(3, 255, 108) 100%);
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
}